
        
        <div class="container">
                <button class="btn btn-secondary dropdown-toggle float-right mr-4 " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Add Member
                        </button>
                        <div class="dropdown-menu overflow-auto" style="max-height: 300px;" aria-labelledby="dropdownMenuButton">
                            
                            {% for member in board_members %}              
                                <li class="list-group-item" ><a href="{% url 'addCardMember' board_id=board.id list_id=list.id card_id=card.id member_id=member.id %}">{{ member }}</a></li>
                            {% endfor %}
                            
                        </div>
            <div class="row justify-content">
                           
            <div class="col-sm5">
                <h2>Description:</h2>
                <p>{{ card.description }}</p>
                Members:
                {% for mem in card.card_member.all %}
                   [{{mem}} <a class="fa fa-minus" href="{% url 'removeCardMember' board_id=board.id list_id=list.id card_id=card.id member_id=mem.id %}"></a> ]
                   {% empty %}
                        No members
                {% endfor %}
                <br>
                
            

                <div class="progress">
                    <div id="progress-bar" class="progress-bar" role="progressbar"  aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  
                <h2 style="display:inline-block">Checklist</h2>
                <form id="add_cl_form" action="{% url 'addChecklist' board_id=board.id list_id=list.id card_id=card.id %}" method="POST" novalidate enctype="multipart/form-data" novalidate> {% csrf_token %}
                    {{ formCl }}<button type="submit" style="background-color: green" class="btn btn-success btn-sm ">Add</button>
                    
                <br><p class="error-add-cl"></p>

                    <ul id="checklist" class="list-group cl"  >
                        {% for checklist in checklists %}
                        {% if checklist.is_checked %}
                            <li class="list-group-item cl">
                                <input id="checked" type="checkbox" checked data-id="{{checklist.id}}" data-action="{% url 'checklistCheck' cl_id=checklist.id %}"> {{ checklist.checklist }}<a href="{% url 'deleteChecklist' board_id=board.id list_id=list.id card_id=card.id cl_id=checklist.id%}" style="color:red" class="fas fa-times float-right" ></a>
                            </li>
                            
                        {% else %}
                       
                            <li class="list-group-item">
                                <input id="notchecked"type="checkbox" data-id="{{checklist.id}}" data-action="{% url 'checklistCheck' cl_id=checklist.id %}"> {{ checklist.checklist }}<a href="{% url 'deleteChecklist' board_id=board.id list_id=list.id card_id=card.id cl_id=checklist.id%}" style="color:red" class="fas fa-times float-right" ></a>
                            </li>
                            
                        {% endif %}

                        <script>
                                var total = $('input[type="checkbox"]').length;
                                var checked = $('input[type="checkbox"]:checked').length;
                                var percentage = (checked/total)*100
                                $('#progress-bar').css('width', percentage + '%').attr('aria-valuenow', percentage);
                        </script>
                        {% endfor %}
                    </ul><br>
                </form>
                
                


                <h2>Attatchments: </h2>
                <form class="attchment_form"  id="card_attatchment_form" action="{% url 'cardAttatchment' board_id=board.id list_id=list.id card_id=card.id %}" method="POST" novalidate enctype="multipart/form-data" novalidate> {% csrf_token %}
                        {{ form }}<p class="error-add-attchment"></p>
                        <br><button type="submit" style="background-color: green" class="btn btn-success btn-sm ">Submit</button>                        
                </form>
                
                <br>

                {% for attatchment in attatchments %}
                
                {% if 'jpg' in  attatchment.file.url or 'png' in attatchment.file.url or 'JPG' in attatchment.file.url %}
                {{ attatchment.file }}<a style="color:black" class="fas fa-trash-alt float-right mt-1" href="{% url 'deleteAttatchment' board_id=board.id list_id=list.id card_id=card.id attchment_id=attatchment.id %}"></a>
                    <p><img src="{{ attatchment.file.url }}" height="50" width="50"></p>
                {% else %}
                {{ attatchment.file }}<a style="color:black" class="fas fa-trash-alt float-right mt-1" href="{% url 'deleteAttatchment' board_id=board.id list_id=list.id card_id=card.id attchment_id=attatchment.id %}"></a>
                <p><img src="{{ MEDIA_URL }}files/file.png" height="50" width="50"></p>
                {% endif %}
                {% endfor %}




                {% for comment in comments %}
                    <div class="comment">
                        
                        <li class="list-group-item " style="background-color: rgb(170, 145, 199)"><strong>{{ comment.author }}  </strong>{{ comment.date_created }}</li>
                        <li class="list-group-item">{{ comment.text|linebreaks }}</li>
                    </div>
                {% empty %}
                    <p>No comments here yet :(</p>
                {% endfor %}
                <form id="add_comm_form" action="{% url 'addComment' board_id=board.id list_id=list.id card_id=card.id %}" method="POST" novalidate enctype="multipart/form-data" novalidate> {% csrf_token %}
                    Add comment: {{ formComm.text }}<button type="submit" style="background-color: green" class="btn btn-success btn-sm ">Save</button>
                <br><p class="error-add-comm"></p>
                                
            </div>
            </div>
        </div>
            
